@model CyclingZone.Web.ViewModels.Home.IndexViewModel
@using CyclingZone.Common
@{
    this.ViewData["Title"] = "Home Page";

    //Articles are sorted by "CreatedOn" property in ArticleService.GetAll()
    var latestArticle = Model.Articles.FirstOrDefault();

    var articles = Model.Articles.Skip(1).Take((Model.Articles.Count() - 1));
}

<div id="adboxs">
    <div>
        <a asp-area="" asp-controller="Articles" asp-action="ById" asp-route-id="@latestArticle.Id">
            <img src="@latestArticle.ImageUrl" alt="@latestArticle.Title">
            <h3>@latestArticle.Title</h3>
        </a>
    </div>
</div>
<div id="body">
    <div id="main">
        <h2><span>&#8220; In Bike We Trust &#8221;</span></h2>
        <p>
            This website has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
        </p>
    </div>
    <div class="card-deck" id="articles">
        <ul>
            @foreach (var article in articles)
            {
                <li>
                    <a class="more" asp-area="" asp-controller="Articles" asp-action="ById" asp-route-id="@article.Id">
                        <img class="card-img-top" src="@article.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@article.ShortTitle</h5>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
